.wrapper {
    background-color: #ecf0f8;
    padding: 10px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e7eaed;
    border-radius: 0;
    padding: 10px;
}