.sidebar {
    padding: 10px;
    color: #fff;
}

.sidebar .profile {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 10px;
}

.sidebar .profile .avatar img{
    width: 60px;
    border-radius: 1000px;
}